{% extends 'base.html' %}
{% load materializecss %}

{% block css %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />

{% endblock css %}

{% block title %}

    {{title}}- User form

{% endblock title %}

{% block content %}
 
    <h1 class="h3 mb-3 font-weight-normal">Add User form</h1>

    {% if messages %}
        {% for message in messages %}
            {% if 'info' in message.tags %}
                <div class="card-panel green lighten-2">{{message}}</div>
            {% endif %}
        {% endfor%}
    {% endif %}

    <form action="" enctype="multipart/form-data" method="post"> 
       
        {% csrf_token %}
        {{ form|materializecss }}
        <br/>
        <button class="waves-effect waves light btn-large" type="submit" value="Add User">Add User</button>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" value="Add User">Add User</button> -->

    </form>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}
