{% extends 'base.html' %}
{% load materializecss %}

{% block css %}

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />

{% endblock css %}

{% block title %}

    {{title}}- User form

{% endblock title %}

{% block content %}
 
    <h1 class="h3 mb-3 font-weight-normal">User Login form</h1>

    <form action="" enctype="multipart/form-data" method="post"> 

        {% csrf_token %}
       
        <h2 class="name">User ID</h2>
        <input class="user_ID" type="text" name="Id No." value="user_ID">

        <h2>Password</h2>
        <input class="password" type="password" name="password">


        <button class="waves-effect waves light btn-large" type="submit" value="Add User">Add User</button>
        <!-- <button class="btn btn-lg btn-primary btn-block" type="submit" value="Add User">Add User</button> -->

    </form>
<div> 
    {% for message in messages %}
       <h3>{{message</h3>
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}

{% endblock scripts %}


<!-- 
{% for field in form %}
<p>
  {% for error in field.errors %}
	<p style="color: red">{{ error }}</p>
  {% endfor %}
</p>
{% endfor %}

{% if  form.non_field_errors %}
<div style="color: red">
<p>{{form.non_field_errors}}</p>
</div>
{% endif %} -->


